body{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    position: relative;
    align-items: center;
    height: 100vh
}

main{
    background-color:antiquewhite;
    width: 450px;
    height: 850px;
    border: 3px solid rgb(5, 108, 12);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px green;
}

.header-img {
    background-image: url(images/JJJ’s\ \(2\).png);
    background-size: cover;
    width: 100%;
    height: 13.5%;
    position: absolute;
    top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid black;
}

.logo{
    width: 120px;
    transform: rotate(-15deg);
    position: relative;
    left: 5px;
    top: 10px;
}

.separator{
    width: 100%;
    background-color: rgb(5, 108, 12);
    position: relative;
    top: 125px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: "Lugrasimo", cursive;
    padding: 4px 0 0 0;
}
